@tailwind base;
@tailwind components;
@tailwind utilities;
/* Background */
.bg-primary {
    background-color: #DFE0E2;
}

/* Primary color for active links */
.text-primary {
    color: #BE123C;
}
.background-active {
    color: #92DCE5;
}

/* Secondary color for inactive links */
.text-secondary {
    color: #2B303A;
}

/* H1 text color */
.text-heading {
    color: #2B303A;
}

/* H2 - H6 text color */
.text-subheading {
    color: #2B303A;
}

/* Example usage */
h1 {
    @apply text-heading;
}

h2, h3, h4, h5, h6 {
    @apply text-subheading;
}

a {
    @apply text-primary;
}

a.inactive {
    @apply text-secondary;
}

body {
    @apply bg-primary;
}
